<% const EditAccount = (typeof edit != 'undefined' && edit == true) %> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account - Perid</title>
    <meta name="description" content="View your Virtual Personal ID">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('../partials/header') %> 
        <div class="wraper">
            <%- include('../partials/form-messages') %> 
            <fieldset>
                <legend>
                    <a href="/account/my-account/edit" title='Edit My Account'><i class="fas fa-user-edit"></i></a> 
                    Account Information
                </legend>
                <span>
                    <% if (!user.verified) { %> 
                        <div class="mb-3">
                            <a href="/account/verify-email" class="btn btn-dark" title="Account verification is required">
                                Verify your account
                            </a>
                        </div>
                    <% } %> 
                    <div class="avatar-wraper">
                        <% if (typeof user.avatarUrl != 'undefined' && user.avatarUrl !== null) { %>
                            <img class="user-avatar" src="<%= user.avatarUrl %>">
                        <% } %> 
                        <% if (typeof userQrImage != 'undefined' && userQrImage !== null) { %>
                            <img class="user-qr" src="<%= userQrImage %>">
                        <% } else { %> 
                            <img class="user-qr" src="/assets/NoQrAvailable.png"
                            title="The was a problem generating the Qr Code" alt="No Qr Code Available">
                        <% } %> 
                    </div>
                    <div class="user-info-wraper">
                        <div class="mb-1">
                            <b>ID</b> <%= user.id %>
                        </div>
                        <div class="mb-1">
                            <b>Full Name</b> <%= user.firstName %> <%= user.middleName %> <%= user.lastName %>
                        </div>
                        <div class="mb-1">
                            <b>Birthdate</b> <%= new Date(user.birthdate).toLocaleString().split(',')[0] %>
                        </div>
                        <div class="mb-1">
                            <% if (user.phone != null) { %> 
                                <!-- Phone -->
                                <b>Phone</b> <a href="tel:<%= user.phone %>"><%= user.phone %></a>
                            <% } else { %> 
                                <b>Phone</b> <i>No phone provided</i>
                            <% } %> 
                        </div>
                        <div class="mb-1">
                            <b>Email</b> <a href="mailto:<%= user.email %>"><%= user.email %></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-success" title="Visit My Dashboard" href="/dashboard">My Dashboard</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-1">
                        <div class="col">
                            <a class="btn btn-primary" title="Change Account's Password" href="/account/my-account/change-password">Change Password</a>
                        </div>
                        <div class="col">
                            <form action="/account/logout?_m=DELETE" method="post">
                                <button type="submit" class="btn btn-danger" title='Logout'>Logout</button>
                            </form>
                        </div>
                    </div>
                </span>
            </fieldset>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
</html>