<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Perid</title>
    <meta name="description" content="Create a Virtual Personal ID now for free.">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawasome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('../partials/header') %> 

        <div class="wraper">
            <form id="create-pid-form" class="validate-u-form d-block" action="/account/register" method="POST" enctype="multipart/form-data" autocomplete="off">
                <%- include('../partials/form-messages') %>
                <!-- Avatar -->
                <div class="mb-3">
                    <label for="InputAvatar">User Avatar</label>
                    <div class="mt-2 mb-2 file-select-group">
                        <button id="SelectFileBtn" class="btn" type="button">Choose file</button>
                        <label for="SelectFileBtn">no file selected</label>
                    </div>
                    <input type="file" name="avatar" id="InputAvatar" style="display: none;">
                    <div id="mAvatarHelp" class="form-text">Only JPG, JPEG, PNG formats allowed. Maximum size: 5MB</div>
                </div>
                <!-- First Name -->
                <div class="mb-3">
                    <label for="InputFName" class="required">First Name</label>
                    <input type="text" id="InputFName" name="firstName" placeholder="Enter First Name"
                    value="<%= typeof firstName != 'undefined' ? firstName : '' %>" required>
                </div>
                <!-- Middle Name -->
                <div class="mb-3">
                    <label for="InputMName">Middle Name</label>
                    <input type="text" id="InputMName" name="middleName" placeholder="Enter Middle Name"
                    value="<%= typeof middleName != 'undefined' ? middleName : '' %>" aria-describedby="mNameHelp">
                    <div id="mNameHelp" class="form-text">Leave blank if you don't have one</div>
                </div>
                <!-- Last Name -->
                <div class="mb-3">
                    <label for="InputLName" class="required">Last Name</label>
                    <input type="text" id="InputLName" name="lastName" placeholder="Enter Last Name"
                    value="<%= typeof lastName != 'undefined' ? lastName : '' %>" required>
                </div>
                <!-- Birthdate -->
                <div class="mb-3">
                    <label for="InputBDate" class="required">Birthdate</label>
                    <input type="date" id="InputBDate" name="birthdate"
                    value="<%= typeof birthdate != 'undefined' ? new Date(birthdate).toISOString().split('T')[0] : '' %>" required>
                </div>
                <!-- Phone -->
                <div class="mb-3">
                    <label for="InputPhone">Phone</label>
                    <input type="tel" id="InputPhone" name="phone" placeholder="Enter Phone"
                    value="<%= typeof phone != 'undefined' ? phone : '' %>">
                </div>
                <!-- Email -->
                <div class="mb-3">
                    <label for="InputEMail" class="required">Email</label>
                    <input type="email" id="InputEMail" name="email" placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>" required>
                </div>
                <!-- Password -->
                <div class="mb-3">
                    <label for="InputPassword" class="required">Password</label>
                    <input type="password" id="InputPassword" name="password" placeholder="Enter Password" required>
                </div>
                <!-- Confirm Password -->
                <div class="mb-3">
                    <label for="InputPasswordConfirm" class="required">Confirm Password</label>
                    <input type="password" id="InputPasswordConfirm" name="passwordConfirm" placeholder="Repeat Password" required>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Register</button>
                <span class="form-text" style="margin-left: 5px;">
                    Have an Account? <a href="/account/login">Login</a>
                </span>
                <div class="form-text" style="margin-top: 15px;">
                    <div>
                        Clicking the "Register" button requires you to agree the <a href="/docs/tos">Terms of Services</a>.
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Custom -->
<script src="/js/main.js"></script>
<script src="/js/user-form-validation.js"></script>
</html>