<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account - Perid</title>
    <meta name="description" content="View & Edit your Virtual Personal ID">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user-form.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/header') %> 

        <div class="wraper">
            <form id="email-verification-account-form" action="/account/send-email-verification" method="POST">
                <% if (typeof query == 'undefined') { %> 
                    <%- include('../partials/form-messages') %> 
                <% } %> 
                <div class="mb-3">
                    <p>
                        Without verifying your email your account doesn't show up on search. 
                        Also, if you don't verify it after 30 days, your account gets permanently deleted. <br>
                        This happens to prevent spam with fake email accounts.
                    </p>
                    <hr>
                    <p>
                        Send email verification to <b><%= user.email %></b> <br>
                        Wrong email? <a href="#" data-bs-toggle="modal" data-bs-target="#changeEmailModal">Change it</a>
                    </p>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-envelope"></i> Send</button>
            </form>
        </div>
        <!-- Change Email Modal -->
        <div class="modal fade" id="changeEmailModal" tabindex="-1" aria-labelledby="changeEmailModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeEmailModalLabel">Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%- include('../partials/form-messages.ejs') %> 
                    <form action="/account/edit/email" method="POST">
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="emailInput" name="email"
                            value="<%= typeof email != 'undefined' ? email : user.email %>">
                        </div>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<% if (typeof query != 'undefined' && query.prompt == 'change-email') { %> 
    <script>
        var ChangeMailModal = new bootstrap.Modal(document.getElementById('changeEmailModal'));
        ChangeMailModal.show();
    </script>
<% } %> 
</html>