<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Dashboard - Perid</title>
    <meta name="description" content="Monitor API usage and manage your API keys">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="content-container container">
        <%- include('../partials/header') %> 
        <div class="wraper">
            <div class="mb-1">
                <h3>Dashboard</h3>
                <p>
                    Here you can monitor your API usage and manage your API keys. <br>
                    Learn how to use the API <a href="/docs/">here</a>.
                </p>
                <hr>
                <% if (typeof ApiKey == 'undefined') { %> 
                    <div>
                        No API key found registered on your account. Please contact support@perid.tk.
                    </div>
                <% } else { %>
                    <%- include('../partials/form-messages') %> 
                    <fieldset class="mb-3">
                        <legend>Information</legend>
                        <div class="mb-3">
                            <label class="form-label"><i class="fas fa-user"></i> Owner ID</label>
                            <input class="form-control" type="text" value="<%= ApiKey.ownerId %>" disabled='true'>
                        </div>
                        <div class="mb-1">
                            <label class="form-label"><i class="fas fa-key"></i> Your API Access Key</label>
                            <form action="/dashboard/reset-api-key" method="POST">
                                <div class="input-group">
                                    <input class="form-control" type="text" value="<%= ApiKey.key %>" disabled='true'>
                                    <button type="submit" class="btn btn-sm btn-primary" title="Reset your API key" aria-describedby="resetHelpBlock">Reset</button>
                                </div>
                            </form>
                            <div id="resetHelpBlock" class="form-text">
                                Reset your API access key in case of it being exposed to 3rd parties
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Monitor</legend>
                        <!-- API Usage -->
                        <div class="input-group mb-1">
                            <span class="badge bg-secondary">API Usage (monthly)</span>
                            <span class="badge bg-primary">
                                <span id="req_percent"><%= ((ApiKey.doneRequests / ApiKey.totalRequests) * 100).toFixed(0) %></span>% (<span id="req_done"><%= ApiKey.doneRequests.toLocaleString() %></span> / <span id="req_total"><%= ApiKey.totalRequests.toLocaleString() %></span>)
                            </span>
                        </div>
                    </fieldset>
                <% } %>
            </div>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</html>