<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Dashboard - Perid</title>
    <meta name="description" content="Monitor API usage and manage your API keys">
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('../partials/header') %> 
        <div class="wraper">
            <h2><%= user.firstName %>'s Dashboard</h2>
            <p>
                Here you can monitor your API usage and manage your API keys. <br>
                Learn how to use the API <a href="/docs/">here</a>.
            </p>
            <hr>
            <% if (typeof ApiKey == 'undefined') { %> 
                <div>
                    No API keys found registered on your account.
                    <div class="mt-2">
                        <button class="btn btn-sm btn-primary mono-font" onclick="window.location='/dashboard/create-api-key'">
                            <i class="fas fa-key"></i> Create API Access Key
                        </button>
                    </div>
                </div>
            <% } else { %>
                <%- include('../partials/form-messages') %> 
                <fieldset class="mb-3">
                    <legend>Information</legend>
                    <div class="mb-2">
                        <label><i class="fas fa-user"></i> Owner ID</label>
                        <input type="text" value="<%= ApiKey.ownerId %>" disabled='true'>
                    </div>
                    <div class="mb-2">
                        <label><i class="fas fa-scroll"></i> Plan</label>
                        <select disabled="disabled">
                            <option selected><%= ApiKeyPlan %></option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label><i class="fas fa-key"></i> Your API Access Key</label>
                        <div class="api-key-info-group">
                            <input class="mono-font" type="text" value="<%= ApiKey.key %>" disabled='true'>
                            <button type="submit" class="btn btn-dark resetApiKeyOpenModalBtn" title="Reset your API key" aria-describedby="resetHelpBlock">Reset</button>
                        </div>
                        <div id="resetHelpBlock" class="form-text">
                            This key is secret, do not share it with 3rd parties. In case of it being exposed you can reset it.
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Monitor</legend>
                    <!-- API Usage -->
                    <div class="mb-1 api-mon-usage-group">
                        <div class="mb-2 group-title">
                            <i class="fas fa-chart-area"></i> <label>API Usage</label>
                        </div>
                        <div class="mb-0 group-content">
                            <span id="req_percent"><%= ((ApiKey.doneRequests / ApiKey.totalRequests) * 100).toFixed(1) %></span>% 
                            (<span id="req_done"><%= ApiKey.doneRequests.toLocaleString() %></span> / <span id="req_total"><%= ApiKey.totalRequests.toLocaleString() %></span>)
                        </div>
                    </div>
                </fieldset>
            <% } %>
        </div>
    </div>
    <% if (typeof ApiKey != 'undefined') { %> 
    <!-- Reset API key Confirm -->
    <div id="resetApiKeyModal" class="modal">
        <div class="modal-wraper">
            <div class="modal-title">Confirm</div>
            <div class="modal-content">
                Are you sure you want to reset your API access key?
            </div>
            <div class="modal-footer">
                <form action="/dashboard/reset-api-key" id="reset-api-key-form" method="POST">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </form>
                <button type="button" class="btn btn-secondary dismiss-modal">Cancel</button>
            </div>
        </div>
    </div>

    <% } %> 
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script>
    $(document).ready(() => {
        $('.resetApiKeyOpenModalBtn').on('click', () => {
            $('#resetApiKeyModal').css('display', 'block');
        });

        $('#resetApiKeyModal .dismiss-modal').on('click', () => {
            $('#resetApiKeyModal').css('display', 'none');
        });
    });
</script>
</html>