<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof foundUser !== 'undefined') { %> 
        <title><%= foundUser.firstName %> <%= foundUser.middleName %> <%= foundUser.lastName %> - Perid</title>
        <meta name="description" content="<%= foundUser.firstName %>'s Virtual Personal ID">
    <% } else { %> 
        <title>View Pid - Perid</title>
        <meta name="description" content="Inspect Virtual Personal ID">
    <% } %> 
    <link rel="shortcut icon" href="/assets/PeridIcon.svg" type="image/x-icon">
    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/user-preview.css">
</head>
<body class="preload">
    <div class="content-container container">
        <%- include('./partials/header') %> 

        <div class="wraper">
            <%- include('./partials/form-messages') %> 
            <% if (typeof foundUser != 'undefined') { %>
                <div class="mb-3">
                    <fieldset>
                        <legend><%= foundUser.firstName %> <%= foundUser.middleName %> <%= foundUser.lastName %></legend>
                        <div class="avatar-wraper">
                            <% if (foundUser.avatarUrl !== null) { %>
                                <img class="user-avatar" src="<%= foundUser.avatarUrl %>">
                            <% } %> 
                            <% if (foundUserQrImage !== null) { %>
                                <img class="user-qr" src="<%= foundUserQrImage %>">
                            <% } else { %> 
                                <img class="user-qr" src="/assets/NoQrAvailable.png"
                                title="The was a problem generating the Qr Code" alt="No Qr Code Available">
                            <% } %> 
                        </div>
                        <div class="user-info-wraper">
                            <div class="mb-1">
                                <b>ID</b> <%= foundUser.id %>
                            </div>
                            <div class="mb-1">
                                <b>Full Name</b> <%= foundUser.firstName %> <%= foundUser.middleName %> <%= foundUser.lastName %><br>
                            </div>
                            <div class="mb-1">
                                <b>Birthdate</b> <%= new Date(foundUser.birthdate).toLocaleString().split(',')[0] %><br>
                            </div>
                            <div class="mb-1">
                                <% if (user.phone != null) { %> 
                                    <b>Phone</b> <a href="tel:<%= foundUser.phone %>"><%= foundUser.phone %></a><br>
                                    <% } else { %> 
                                    <b>Phone</b> <i>No phone provided</i>
                                <% } %> 
                            </div>
                            <div class="mb-0">
                                <b>Email</b> <a href="mailto:<%= foundUser.email %>"><%= foundUser.email %></a>
                            </div>
                        </div>
                    </fieldset>
                </div>
            <% } %> 
            <button class="btn btn-primary" id="go-back-btn" onclick="window.history.go(-1)">Go Back</button>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
<script>
    if (window.history.length <= 1) {
        $('button#go-back-btn').hide();
    }
</script>
</html>